@media (max-width: 1199px){

}
@media (max-width: 991px){
	
}
@media (max-width: 767px){
	.header-content h1 {
    font-size: 30px;    
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0 20px;
	}
	.header-content {
    padding: 80px 0;
	}
	.service-section p {
    padding: 0 20px;
	}
	.service-section h1 {
    font-size: 32px;
}
.team-content h1 {
    font-size: 32px;
}
.team-content p {
    padding: 0 20px;
}
.skill-content h1 {
    font-size: 32px;
}
.team-card p {
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
    color: #3c4761;
}

.skill-content p {
    padding: 0 20px;
}
.portfolio-content h1 {
    font-size: 32px;
    }
.portfolio-content p {
    padding: 0 20px;
}
.team-card .card {
    border: 0;
    background: transparent;
    margin: 20px 0;
}

.testimonial-section h1 {
    font-size: 32px;
}

.testimonial-content p {
    text-align: center;
    margin:auto;
}
.testimonial-section img {
    display: block;
    text-align:center;
    margin:auto;
}

.testimonial-content h4 {
    text-align: center;
}
.contact-content h1 {
    font-size: 32px;
}

.contact-content p {
    padding: 0 20px;
}
.footer-content ul li a {
    font-size: 18px;
    text-align: center;
}
.testimonial-content {
    margin-bottom: 50px;
}
	.service-content p {
    margin-bottom: 40px;
}

}
@media (max-width: 575px){
	.navbar .container{
		padding-right:15px;
		padding-left:15px;
	}

	.portfolio-menu ul li button {
    padding: 5px 20px;
    font-size: 15px;
    margin: 50px 7px;
    border-radius: 5px;
}
.btn-custom {
    padding: 15px 30px;
    font-size: 16px;
}

.header-content button {
    padding: 15px 30px;
    font-size: 16px;
}
.form-custom .btn-custom {
    padding: 15px 30px;
    font-size: 16px;
}
.footer-content ul li a {
    font-size: 16px;
    text-align: center;
}
}
